@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Just to make the modal stand out */
  }
  